:root{
  background-color: var(--color-background);
  color: var(--color);
  scrollbar-color: var(--fg-scrollbar) var(--color-background);
  transition-duration: 0.25s;
  font-family: sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  max-width: min(800px, calc(100% - 40px));
  margin-inline: auto;
  min-height: 100vh;
  box-sizing: border-box;
  margin-block: 0;
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: visible;
}


* {
  background: none;
  border:none;
  color: var(--color);
  text-decoration-line: inherit;
  font-size: 20px;
  margin-block: 0;
}

.btn {
  display: flex;
  padding-inline: 4px;
  padding-block: 2px;
  width: fit-content;
  border-radius: 10px;
  font-weight: bold;
  gap: 0.5ex;
  cursor: pointer;
  align-items: center;
  position: relativ;
  color: var(--color);
  user-select: none;
}

.btn.outlined, .btn.filled {
  padding-inline: var(--padding-inline);
  padding-block: 0.78ex;
  border-radius: 20px;
}

.btn.outlined:hover {
  box-shadow: 1px 1px 4px #40404040;
}
.btn:active {
  box-shadow: none;
}

.btn:not(.filled):not(.outlined):hover{
  background-color: var(--color-hover)
}


.outlined {
  border: solid thin;
}

input:focus-visible {
  outline: transparent;
  border: solid thin red;
  border-color: red;
}

.grow {
  flex-grow: 1;
}

.red {
  --color: #DC2626;
  --color-hover: #DC26266B;
}

.blue {
  --color: #0EA5E9;
}


.filled {
  border:none;
  color: var(--color-background);
  background-color: var(--color);
  box-shadow: 1px 1px 4px  #40404040;
}

.filled:hover{
  box-shadow: 1px 1px 4px #292929a6;
}
.filled:active {
  box-shadow: none;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
}

form:not(:first-child){
  margin-top: 2em
}

.input-label {
  padding-inline: .5ex;
  margin-top: -1.5ex;
}


textarea, select, input[type="text"] {
  border: none;
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  resize: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-family: monospace;
  outline: none !important;
}


pre {
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  border-radius: min(var(--radius), calc(100vw - min(800px, calc(100% - 40px)) - var(--padding-inline) * 2));
  min-width: fit-content;
  width: min(800px, calc(100% - 40px));
  margin: 0;
  margin-inline: auto;
  margin-left: calc(100vw - width);
  overflow-x: auto;
  background-color: var(--color-background-code);
}

scroll-box {
  overflow-x: auto;
  width: 100vw;
  margin-left: calc((100vw - 100%) / 2 * -1);
  scrollbar-color: var(--fg-scrollbar) var(--color-background-code);
}

input[type="file"]{
  cursor: pointer;
}
::file-selector-button {
  border-width: thin;
  border-radius: var(--radius);
  background: none;
  color: unset;
  border-color: var(--border);
  padding-inline: var(--padding-inline);
  padding-block: 0.78ex;
}
input[type="file"]:not(:required:valid) ~ input[type="submit"]{
  display:none
}


border{
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
}

input-container {
  display: flex;  
  position: relative;
}
left-border, bottom-border, right-border {
  display: flex;
  min-width: fit-content;
  border-width: thin;
  border-color: var(--border);
}

left-border{
  border-left-style: solid;
  border-block-style: solid;
  border-radius: var(--radius) 0 0 var(--radius);
  width: var(--padding-inline);
}

right-border {
  border-right-style: solid;
  border-block-style: solid;
  border-radius: 0 var(--radius) var(--radius) 0 ;
  flex-grow: 1
}

bottom-border {
  border-bottom-style: solid;
}

#new {
  position: absolute;
  right: 0;
  top:0;
  z-index: 10;
  border-radius: 0 0 0 var(--radius);
}

main {
  flex-grow: 1;
  max-height: 600px;
  gap: inherit;
  display: flex;
  flex-direction: column;
}

footer {
  padding-top: 40px;
  display: flex;
  margin-top: auto;
}

column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}

row {
  display: flex;
}

dialog {
  position: fixed;
  margin: auto;
  height: max-content;
  width: 50vw;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  background-color: var(--color-background-dialog);
  border-radius: var(--radius);
  box-shadow: 1px 1px 4px var(--color-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

backdrop {
  display: none;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: var(--color-background-backdrop);
  backdrop-filter: blur(20px);
  z-index: 20;
}

#delete-trigger:checked ~ #delete-dialog {
  display: block;
}



:root{
  --color-background: #ffffff;
  --color: #171717;
  --color-hover: #1717170f;
  --border: #999595;
  --color-delete: #991B1B;
  --radius: 6px;
  --gap: 6px;
  --padding-inline: 16px;
  --padding-block: var(--padding-inline);
  --color-background-code: #f6f8fa;
  --color-background-dialog: var(--color-background);
  --color-background-backdrop: #b7b7b787;
  --fg-scrollbar: #cecece;
  --color-shadow: #40404040;
}
@media (prefers-color-scheme: dark) {
  :root{
    --color-background: #0d1117;
    --color: #E5E5E5;
    --color-hover: #E5E5E53B;
    --color-highlight: #A3A3A3;
    --border: #6f6b6b;
    --color-background-code: #161b22;
    --color-background-dialog: #303845;
  --color-background-backdrop: #23232387;
    --fg-scrollbar: #505a5e;
  }
  .btn.outlined:hover {
    color: white;
  }
  .btn.outlined:active {
    color: var(--color);
  }
  scroll-box {
    box-shadow: none
  }
}